# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea

# Logs
logs
*.log

# System Files
.DS_Store
Thumbs.db

# Cursor specific
.cursorignore

#back-end
back-end/.env
back-end/poetry.lock
back-end/repo_dump.txt
back-end/poetry.lock
back-end/.venv
**.pyc